## EXPIRES CACHING ##
<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType image/jpg "access 1 year"
ExpiresByType image/jpeg "access 1 year"
ExpiresByType image/gif "access 1 year"
ExpiresByType image/png "access 1 year"
ExpiresByType text/css "access 1 month"
ExpiresByType text/html "access 1 month"
ExpiresByType application/pdf "access 1 month"
ExpiresByType text/x-javascript "access 1 month"
ExpiresByType application/x-shockwave-flash "access 1 month"
ExpiresByType image/x-icon "access 1 year"
ExpiresDefault "access 1 month"
</IfModule>
## EXPIRES CACHING ##

# Block Spam
RewriteEngine on
# Options +FollowSymlinks
RewriteCond %{HTTP_REFERER} site-auditor\.online [NC,OR]
RewriteCond %{HTTP_REFERER} rank-checker\.online [NC,OR]
RewriteCond %{HTTP_REFERER} monetizationking\.net [NC,OR]
RewriteCond %{HTTP_REFERER} website-analytics\.online [NC,OR]
RewriteCond %{HTTP_REFERER} website-analytics.online [NC,OR]
RewriteCond %{HTTP_REFERER} share-buttons\.xyz [NC,OR]
RewriteCond %{HTTP_REFERER} free-social-buttons\.xyz [NC,OR]
RewriteCond %{HTTP_REFERER} free-social-buttons1\.xyz [NC,OR]
RewriteCond %{HTTP_REFERER} 48096381-1.compliance-irvin\.xyz [NC,OR]
RewriteCond %{HTTP_REFERER} facebook-mobile\.xyz [NC]
RewriteRule ^(.*)$ – [F,L]
