
// COMPONENTS / FEATURED
// -----------------------------------------------------------------------------


.featured {
  border-bottom: 1px solid color(neutral, light);

  header {
    padding-bottom: 3rem;
    border-bottom: 1px solid color(neutral, light);
    text-align: center;

    h2 {
      margin-bottom: 0;
    }
  }
}
