
// COMPONENTS / FOOTER
// -----------------------------------------------------------------------------


.container > footer {
  @include animation('fade-in');
  background: color(neutral, lightest);
  padding: .5rem 1rem;
  text-align: center;
  font-size: size(regular);
  margin-top: 1rem;

  a + a {
    margin-left: .5em;
  }

  p {
    margin-top: 1rem;
    font-size: size(small);
  }
}
