
// COMPONENTS / HEADER
// -----------------------------------------------------------------------------


.header {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  right: 1.5rem;
  z-index: 999;
  font-family: font(secondary);
  text-transform: uppercase;
  letter-spacing: .24em;
  font-size: size(small);

  .masthead {
    display: inline-block;
    float: left;
    text-align: left;
  }

  nav {
    display: inline-block;
    float: right;
    text-align: right;
  }

  a + a {
    padding-left: 1rem;
  }
}
