// COMPONENTS / POST
// -----------------------------------------------------------------------------

.post {
  .post-header {
    padding-top: 6rem;

    @include from(medium) {
      padding-top: 10rem;
    }
  }

  .post-image {
    img {
      display: block;
      margin: auto;
      max-width: 100%;
      height: auto;
    }

    @include until(medium) {
      margin: 0 4rem;
    }
  }

  .content-image {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
  }

  .title {
    padding: 0 1rem 2rem;
    font-style: italic;
  }

  .post-image + .title {
    padding: 4rem 1rem 2rem;
  }

  h1 {
    text-align: center;
  }

  h2 {
    text-align: center;
    margin: 5rem 0 1rem;

    @include until (medium) {
      padding: 0 1rem;
    }
  }

  h3,
  h4,
  h5,
  h6 {
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;

    @include until (medium) {
      padding: 0 1rem;
    }
  }

  h3 {
    margin: 3rem auto 1rem;

    @include until (medium) {
      padding: 0 1rem;
    }
  }

  figure {
    p + & {
      margin-top: 1rem;
    }

    & + p {
      margin-top: 2rem;
    }
  }

  footer {
    margin: 4rem auto 2rem;
    text-align: center;
  }
}
