
// COMPONENTS / TEASER
// -----------------------------------------------------------------------------


.teaser {
  @include transition-hover();
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 3rem 2rem;

  time {
    font-size: getSize(smaller);
    color: color(neutral);
  }

  h3 {
    @include transition-hover();
    margin-bottom: 0;
  }

  p {
    font-weight: weight(regular);
    margin: 1rem auto 0;
    color: color(neutral, darkest);
  }

  &:hover {
    background: color(neutral, light, .4);

    h3 {
      color: color(primary);
    }

    p {
      color: color(neutral, darkest);
    }
  }

  &.-large {
    padding: 5rem 2rem;
  }
}
