.title {
  position: relative;
  z-index: 1;
  margin: auto;
  padding: 6rem 1rem 6rem;
  text-align: center;

  h1 {
    font-size: size(largest);
    margin: 0 auto 1rem;
    text-align: center;

    @include from(medium){
      font-size: size(yuge);
    }
  }

  p {
    font-size: size(large);
    max-width: 40rem;
    margin: 0 auto;

    @include until(medium){
      margin: 2em auto;
    }
  }

  time {
    display: inline-block;
    font-size: size(smaller);
    opacity: .7;
    margin-bottom: 1rem;
  }
}
