
// ELEMENTS / BLOCKQUOTE
// -----------------------------------------------------------------------------


blockquote {
  width: 32rem;
  margin: 1rem auto 2rem;

  &:before {
    position: absolute;
    content: "\201C";
    font-weight: getWeight(bold);
    font-size: 5rem;
    color: getColor(neutral, light);
    margin-left: -.32em;
    margin-top: -.48em;
  }

  p {
    position: relative;
    z-index: 1;
    margin: 0;
    font-weight: getWeight(bold);
    font-size: getSize(large);
    color: getColor(neutral, darkest);
  }

  footer {
    max-width: 30rem;
    margin: .38rem 0 0;
    font-size: getSize(small);
  }
}
