
// ELEMENTS / BLOCKQUOTE
// -----------------------------------------------------------------------------


blockquote {
  max-width: 32rem;
  margin: 1rem auto 2rem;

  &:before {
    position: absolute;
    content: "\201C";
    font-weight: weight(bold);
    font-size: 5rem;
    color: color(neutral, light);
    margin-left: -.32em;
    margin-top: -.48em;
  }

  p {
    position: relative;
    z-index: 1;
    margin: 0;
    font-weight: weight(bold);
    font-size: size(large);
    color: color(neutral, darkest);

		& + p {
			margin-top: 2rem;
		}
  }

  cite {
		display: block;
    max-width: 30rem;
    margin-top: 1rem;
		padding: 0 1rem;

		&:before {
			content: "- ";
		}
  }

	&.-small {
		max-width: 30rem;

		p {
			font-size: size(regular);
			& + p {
				margin-top: 1rem;
			}
		}
	}
}
