
// ELEMENTS / TYPOGRAPHY
// -----------------------------------------------------------------------------

.-hightlight {
  color: color(primary);
}

body {
  font-family: font(primary);
  color: color(neutral);
  line-height: 1.5;
}

h1 {
  font-size: getSize(largest);
  font-weight: weight(bold);
  color: color(neutral, darkest);
  max-width: 16em;
}

h2 {
  font-size: getSize(larger);
  font-weight: weight(bold);
  color: color(neutral, darkest);
  margin-bottom: 1em;
}

h3 {
  font-size: getSize(large);
  font-weight: weight(bold);
  color: color(neutral, darkest);
}


p {
  font-size: getSize(regular);
  max-width: 30rem;
  margin: 0 auto 1.6em;
  line-height: 1.6;

  @include until(medium){
    padding: 0 1rem;
  }
}

a {
  @include transition-hover();
  text-decoration: none;
  color: color(neutral, darkest);
  font-weight: weight(bold);

  &:hover, &.--active {
    color: color(primary);
  }
}

a.underline {
  display: inline-block;
  position: relative;
  z-index: 1;

  @include until(medium){
    text-decoration: underline;
  }

  @include from(medium){
    &:before {
      @include transition-underline();
      position: relative;
      z-index: -1;
      display: inline-block;
      content: "";
      width: 100%;
      height: .12em;
      top: 1.8em;
      background: color(neutral, light);
    }

    &:hover{
      color: color(neutral, darkest);
      &:before {
        height: .7em;
        background: color(primary);
      }
    }
  }
}



time {
  font-family: font(secondary);
  text-transform: uppercase;
  letter-spacing: .2em;
}
