
// BASE / COLORS
// -----------------------------------------------------------------------------


// Color Map

$_colors: (
  primary: (
    base: #F9CB2F
  ),
  secondary: (
    base: #428CE8
  ),
  status: (
    success: #50E39A,
    error: #FF388E,
  ),
  neutral: (
    lightest: #FCFDFD,
    light: #E9E7EC,
    base: #756E7D,
    darkest: #242325,
  )
);
