
// BASE / FONTS
// -----------------------------------------------------------------------------


// Font Stack

$_fonts: (
  primary: #{'Cardo', serif},
  secondary: #{'Lato', sans-serif}
);

$_weights: (
  regular: 400,
  bold: 700
)
