
// UTILITIES / CENTERED
// -----------------------------------------------------------------------------

@mixin center($type: layout, $axis: x){
  @if $type == layout {
    @if $axis == x {
      display: block;
      margin-left: auto;
      margin-right: auto;
    } @else if $axis == y {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  } @else if $type == text {
    text-align: center;
  }
}
