
// UTILITIES / MODULAR SCALE
// -----------------------------------------------------------------------------


$modular-scales: (
  minor-second: 1.0666666667,
  major-second: 1.13,
  minor-third: 1.2,
  major-third: 1.25,
  perfect-fourth: 1.33,
  aug-fourth: 1.41,
  perfect-fifth: 1.5,
  minor-sixth: 1.6,
  golden-ratio: 1.618,
  major-sixth: 1.67,
  minor-seventh: 1.78,
  major-seventh: 1.88,
  octave: 2,
  major-tenth: 2.5,
  major-twelfth: 3,
  double-octave: 4
);

@function getScale($ratio){
  @return map-get($modular-scales, $ratio)
}

$scale: getScale(minor-third) !default;



@function getLevel($level: 0, $direction: 'up') {
  @if $level == 0 {
    @return 1rem;
  } @else if $direction == 'up' {
    @return pow($scale, $level) * 1rem;
  } @else if $direction == 'down' {
    @return 1 / pow($scale, $level) * 1rem;
  }
}

@function getSize($level: regular) {
  @if $level == 'smallest' {
    @return getLevel(3, down);
  } @else if $level == 'smaller' {
    @return getLevel(2, down);
  } @else if $level == 'small' {
    @return getLevel(1, down);
  } @else if $level == 'regular' {
    @return getLevel(0);
  } @else if $level == 'large' {
    @return getLevel(1);
  } @else if $level == 'larger' {
    @return getLevel(2);
  } @else if $level == 'largest' {
    @return getLevel(3);
  } @else if $level == 'yuge' {
    @return getLevel(4);
  }
}
