---
layout: default
section: journal
description: My thoughts at the intersection of art, design, technology, and culture.
keywords: Writing, Blog, Essays, Art, Design, Technology, Culture
---

<header class="cover --small">
  <div class="title">
    <h1 >Journal</h1>
    <p>My thoughts at the intersection of art, design, technology, and culture.</p>
  </div>
</header>
<ol class="journal">
  {% for post in site.posts %}
  <li>
    <a class="teaser" href="{{ post.url }}">
      <article>
        <time>{{ post.date | date: "%B %-d, %Y" }}</time>
        <h3>{{ post.title }}</h3>

        {% if post.description %}
        <p>{{ post.description }}</p>
        {% endif %}
      </article>
    </a>
  </li>
  {% endfor %}
</ol>
