
// ELEMENTS / BASE
// -----------------------------------------------------------------------------


:root {
  @include molten-leading();
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: getColor(neutral, lightest);
}

header {
  @include wrapper();
  text-align: center;
}

main {
  @include wrapper();
  @include fade-in();
  position: relative;
  z-index: 10;

  // This needs to be part of a component
  &.post {
    margin-bottom: 4rem;
  }
}
