
// COMPONENTS / COVER
// -----------------------------------------------------------------------------


.cover {
  position: relative;
  height: auto;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: getColor(neutral, lightest);

  .title {
    @include fade-in();
    position: relative;
    z-index: 1;
    margin: auto;
    padding: 6rem 1rem;
    text-align: center;

    h1 {
      font-size: getSize(largest);
      margin: 0 auto 1rem;
      text-align: center;

      @include from(medium){
        font-size: getSize(yuge);
      }
    }

    p {
      font-size: getSize(large);
      max-width: 40rem;
      margin: 0 auto;

      @include until(medium){
        margin: 2em auto;
      }
    }

    time {
      display: inline-block;
      font-size: getSize(small);
      opacity: .7;
      margin-bottom: 1rem;
    }
  }

  .cover-image {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100vh;
    z-index: -1;

    img {
      margin: 0 auto;
      width: 100%;
      min-width: 100vw;
      min-height: 100vh;
      filter: grayscale(62%);
    }

    .portrait {
      display: block;
    }

    .landscape {
      display: none;
    }

    @include from(medium){
      .portrait {
        display: none;
      }

      .landscape {
        display: block;
      }
    }

    @include from(large){
      .landscape {
        margin-top: -4rem;
      }
    }
  }

  &.--small {
    height: auto;
    min-height: 60vh;
    min-height: 16rem;
    overflow: auto;
  }

  &.--variable {
    height: auto;
    min-height: 0;
    overflow: visible;
  }

  &.--dark {
    color: getColor(neutral, lightest);
    background: getColor(neutral, darkest);

    h1 {
      color: getColor(neutral, lightest);
    }

    figure img {
      filter: grayscale(62%) brightness(62%);
    }
  }
}
