
// COMPONENTS / HIGHLIGHT
// -----------------------------------------------------------------------------


pre {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  overflow: auto;
  display: block;

  code {
    display: block;
    margin: 0 auto;
    max-width: 32rem;
    word-break: break-all;
    word-wrap: break-word;
    tab-size: 2;
    padding: .5rem 0;
    overflow-x: scroll;
  }
}

p code {
 white-space: pre;
}

.lineno {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  padding: 0 .5rem;
  font-size: getSize(small);
  color: getColor-rgba(.38, neutral);
  text-align: right;
  padding-right: .5rem;
}

.code pre {
  margin-left: .5rem;
}

code {
  padding: .3rem .4rem .1rem;
}

code, .gist {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  border: 1px solid getColor(neutral, light);
  border-radius: .2rem;
  font-size: getSize(small);
  background: getColor-rgba(.2, neutral, light);

  @include until (medium) {
    border-radius: 0;
  }
}

.gist {
  display: block;
  margin: 1rem auto 2rem;
  max-width: 32rem;
  overflow: hidden;
  overflow: auto;
  word-wrap: normal;
  position: relative;
  direction: ltr;
  white-space: nowrap;

  .gist-data {
    overflow: auto;
    word-wrap: normal;
    border-bottom: 1px solid getColor(neutral, light);
    padding: .5rem 0;
    tab-size: 2;
  }

  .gist-meta {
    overflow: hidden;
    padding: .5rem;
    font-family: getFont(secondary);
    font-size: getSize(small);
    line-height: 1;
  }

  &.scroll {
    .gist-data {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 30px;
      left: 0;
      overflow: scroll;
    }

    .gist-meta {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }

  .blob-num {
    padding: 0 .5rem;
    font-size: getSize(small);
    line-height: 1.5;
    color: getColor-rgba(.38, neutral);
    text-align: right;
    white-space: nowrap;
    vertical-align: top;

    &::before {
      content: attr(data-line-number);
    }
  }

  .blob-code {
    position: relative;
    padding-right: .5rem;
    padding-left: .5rem;
    line-height: 1.5;
    vertical-align: top;
  }

  .blob-code-inner {
    overflow: visible;
    font-size: getSize(small);
    color: getColor(neutral,dark);
    word-wrap: normal;
    white-space: pre
  }
}

.highlight {
  white-space: pre;

  .pl-c {
      color: getColor(neutral)l
  }
  .pl-c1,
  .pl-s .pl-v {
      color: getColor(secondary);
  }
  .pl-e,
  .pl-en {
      color: #795da3
  }
  .pl-smi,
  .pl-s .pl-s1 {
      color: getColor(neutral,darkest);
  }
  .pl-ent {
      color: getColor(status,success)l
  }
  .pl-k,
  .pl-bu {
      color: getColor(status,error);
  }
  .pl-s,
  .pl-pds,
  .pl-s .pl-pse .pl-s1,
  .pl-sr,
  .pl-sr .pl-cce,
  .pl-sr .pl-sre,
  .pl-sr .pl-sra {
      color: getColor(secondary);
  }
  .pl-v,
  .pl-smw {
      color: getColor(status,error);
  }
  .pl-ii {
      color: #f8f8f8;
      background-color: getColor(status,error);
  }
  .pl-c2 {
      color: #f8f8f8;
      background-color: getColor(status,error);
  }
  .pl-c2::before {
      content: "^M"
  }
  .pl-sr .pl-cce {
      font-weight: bold;
      color: getColor(status,success);
  }
  .pl-ml {
      color: #693a17
  }
  .pl-mh,
  .pl-mh .pl-en,
  .pl-ms {
      font-weight: bold;
      color: getColor(secondary);
  }
  .pl-mq {
      color: getColor(status,success);
  }
  .pl-mi {
      font-style: italic;
      color: getColor(neutral,dark);
  }
  .pl-mb {
      font-weight: bold;
      color: getColor(neutral,dark);
  }
  .pl-md {
      color: getColor(status,error);
      background-color: #ffecec
  }
  .pl-mi1 {
      color: getColor(status,success);
      background-color: #eaffea
  }
  .pl-mc {
      color: #ef9700;
      background-color: #ffe3b4
  }
  .pl-mi2 {
      color: #d8d8d8;
      background-color: #808080
  }
  .pl-mdr {
      font-weight: bold;
      color: #795da3
  }
  .pl-mo {
      color: getColor(secondary);
  }
  .pl-ba {
      color: getColor(neutral);
  }
  .pl-sg {
      color: #c0c0c0
  }
  .pl-corl {
      text-decoration: underline;
      color: getColor(secondary);
  }
}
