
// CORE / LAYOUT
// -----------------------------------------------------------------------------



// Base

$base-size: 18;
$scale: getScale(perfect-fourth);


// Type Range

$min-size: $base-size;
$max-size: 22;
